/*
  style.css
*/

#app-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 20px;
}

#questions-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#score-container {
  position: fixed;
  right: 40px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: rgb(13, 110, 221);
  padding: 10px 15px;
  min-width: 100px;
  min-height: 45px;
  border-radius: 10px;
}
#restart{
    position: fixed;
    right: 250px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: rgb(13, 221, 124);
    padding: 10px 15px;
    min-width: 100px;
    min-height: 45px;
    border-radius: 10px;
    border-color: white;
    cursor:pointer;
}
#retour{
    /* position: fixed; */
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: rgb(231, 10, 10);
    background: white;
    padding: 10px 15px;
    /* min-width: 100px;
    min-height: 45px; */
     border-radius: 10px;
    border-color: white;
    cursor:pointer;
}

#app-title {
  margin-top: 0;
  margin-bottom: 40px;
  margin: 0 0 40px 20px;
}
