body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.background-slider{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../accueil/img/computer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 20s linear infinite;

}
@keyframes slide{
    0%{
        background-image: url(../accueil/img/computer.jpg);
        
    }
    20%{
        background-image: url(../accueil/img/computer.jpg);
        
    }

    100%{
        background-image: url(../accueil/img/computer2.jpg);
        
    }

}
.image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.content{
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.content h1{
    font-size: 4rem;
    margin-bottom: 0px;
    color: black;
}
.content h1 span{
    color:#ffffff;
}
.content p{
    font-size: 1.7rem;
    padding-bottom: 10px;
    text-align: center;
    color:rgb(248, 240, 240) ;
    max-width: 1000px;
}
.content a{
    text-decoration: none;
    list-style: none;
}
.content button{
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: #9898ad;
    padding: 14px 22px;
    text-transform: uppercase;
    border-radius: 2rem;
    transition: .5s;
}
.content button:hover{
    color:#9e9ecf ;
    background-color:#ffffff;
}
/* Styles pour les écrans de taille moyenne */
@media screen and (min-width: 768px) and (max-width: 1199px)
{
    .content h1{
        font-size: 2.3rem;
    }
    .content p{
        font-size: 1.5rem;
        padding-bottom: 10px;
        max-width: 500px;
    }
 }
/* Styles pour les petits écrans */
@media screen and (max-width: 767px)
{
     .content h1{
        font-size:25px;
    }
    .content p{
        font-size: 16px;
        padding-bottom: 10px;
        max-width: 680px;
    }
    .content button{
        font-size:15px;
        border-radius: 2rem;
    }
}

.dashboard {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	/* background-color: #fff; */
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 3;
}

.dashboard ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.dashboard li {
	margin: 0 10px;
}

.dashboard li a {
	display: block;
	color: #f3eeee;
	text-decoration: none;
	padding: 10px;
	transition: all 0.3s ease;
}

.dashboard li a:hover {
	background-color: #181010;
    border-radius: 10px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
               /*FIN STYLE POUR LA PAGE PRINCIPALE*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
